body {
    background-color: red;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 35px;
}

li {
    font-size: 22px;
    color: white;
}

a {
    color: tomato;
    text-decoration: none; 
}

img {
    border: 2px solid green;
    margin: auto;
    display: block;
    border-radius: 400px;
    width: 1100px;
    height: 600px;
}

