body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 35px;
}

li {
    font-size: 22px;
    color: white;
}

a {
    color: tomato;
    text-decoration: none;
}

img {
    border: 2px solid black;
    margin: auto;
    display: block;
    border-radius: 20px;
}

.ram {
    border: blue solid black;
    border-radius: 22px;
    background-color: aqua;
}