body {
    height: 1200px;
    background: linear-gradient(to bottom right, green, blue);
}

.v, .n {
    display: flex;
}

.t {
    height: 200px;
}

.img1 {
    height: 150px;
   margin-left: 47px;
}

h1 {
    margin-left: 23%;
    font-size: 50px;
}

.y {
    height: 100px;
    width: 12%;
    background-color: violet;
    border: solid 5px black;
    border-radius: 20px;
    margin-top: 15%;
    transition: all 0.8s;
    overflow: hidden;
}

.y2 {
    height: 100px;
    width: 5%;
    background-color: violet;
    border: solid 5px black;
    border-radius: 20px;
    margin-top: 15%;
    transition: all 0.8s;
    overflow: hidden;
}

.y:hover {
    height: 350px;
    width: 15%;
    margin-top: 10%;
}

.n {
    justify-content: space-between;
}

p {
    font-size: 20px;
    color: green;
}

.i {
    margin: ;
}