.head {
    height: 200px;
    background-color: black;
    margin-bottom: 10px;
}

.sidebar {
    height: 500px;
    background-color: yellow;
    margin-bottom: 10px;
    width: 30%;
    float: left;
}

.content {
    background-color: green;
    height: 500px;
    margin-bottom: 10px;
    width: 70%;
    float: left;
}
.u:after {
    content: "";
    display: table;
    clear: both;
  }

.footer {
    background-color: blue;
    height: 200px;
}

body {
    color: white;
    font-size: 100px;
    background-color: turquoise;
}