.head {
    height: 150px;
    background-color: red;
    margin-bottom: 10px;
}

.sidebar {
    height: 500px;
    width: 15%;
    background-color: yellow;
    float: left;
    margin-bottom: 10px;
    margin-right: 0.5%;
}

.content {
    height: 500px;
    width: 69%;
    background-color: green;
    margin-bottom: 10px;
    float: left;
    padding-left: 5px;
}

.sidebar2 {
    height: 500px;
    width: 15%;
    background-color: yellow;
    margin-bottom: 10px;
    float: right;
}

.u:after {
    content: "";
    display: table;
    clear: both;
  }

.footer {
    height: 400px;
    background-color: blue;
    
}

li {
    font-size: 50px;
}

img {
    height: 250px;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.text {
    font-size: 28px;
    margin-top: 3px;
}

ol {
    margin-left: 50px;
    margin-top: 90px;
}

ul {
    margin-left: 20px;
    margin-top: 70px;
}

h1 {
    margin-top: 3px;
}